<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Publicaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Uso de decoradores INPUT y OUTPUT -->
  <app-lista-publicaciones 
    [listaPublicacionesSave]="_publicacion">
  </app-lista-publicaciones>
</ion-content>

<!-- Botón flotante para llamar a la página nueva publicacion -->
<ion-fab-button 
    slot="fixed" 
    horizontal="end"
    vertical="end" 
    size="small"
    [routerLink]="['../publicacion']">
  <ion-icon name="add"></ion-icon>
</ion-fab-button>
